/* Page body styles */

body {
    margin: 0;
    /* Remove the default page margin */
}


/* General styles that apply to everything */

* {
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5em;
}

a {
    color: #0078f0;
    /* Link color */
}

a:hover {
    color: #5e5e5e;
    /* Hovered link color */
}


/* Responsive images */

figure {
    text-align: center;
    margin: .5rem 0;
    padding: 0;
}

figure svg,
figure img {
    max-width: 100%;
    height: auto;
}


/* Header */

.header {
    border-bottom: 0px solid #000;
    padding: 0;
    text-align: center;
}


/* Toggle */


/* Rounded sliders */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0078f0;
}

input:focus+.slider {
    box-shadow: 0 0 1px #0078f0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Header Figure */

.header figure {
    margin: 0;
    padding: 0;
}

.header figure img,
.header figure svg {
    display: inline-block;
}


/* Horizontal menu links used in the header and footer */

.menu-links {
    list-style: none;
    margin: .5em 0;
    padding: 0;
}

.menu-links li {
    display: inline-block;
}

.menu-links a {
    display: block;
    padding: .5em;
    white-space: nowrap;
}


/* Header Aside Content Column */

.left-sidebar-header {
    text-align: left;
}

.right-sidebar-header {
    text-align: right;
}


/* Main Content Column */

.main-content {
    border-bottom: 0px solid #000;
}


/* Left Sidebar Column */

.left-sidebar {
    border-right: 0px solid #000;
    border-bottom: 0px solid #000;
}


/* Right Sidebar Column */

.right-sidebar {}


/* Footer */

.footer {
    text-align: center;
    border-top: 0px solid #000;
}

/* Announcement */

.announcement {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 100%;
    background: rgb(255, 225, 56);
    color: rgb(0, 0, 0);
    font-family: Arial, sans;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.8em;
  }
  
  .announcement a { 
    color: #0078f0; 
  }
  
  .announcement a:hover {
    color: #5e5e5e;
  }

  /* Persistent Dark Mode*/
  * {
    transition: color .0s, background-color .0s;
  }
  
  html {
    --text: #1b1b1b;
    --bg: #ffffff;
    --color-mode:light;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
    --text: #ffffff;
    --bg: #1b1b1b;
    --color-mode:dark;
    }
  }
  
  html.dark {
    --text: #ffffff;
    --bg: #1b1b1b;
    --color-mode:dark;
  }
  
  html.light {
    --text: #1b1b1b;
    --bg: #ffffff;
    --color-mode:light;
  }
  
  html {
    background-color: var(--bg);
    color: var(--text);
  }


  .ldmode {
    background-color: var(--bg); 
    min-width: 50px; min-height: 50px; 
    font-size: x-large;
    border-width: 0px;
    border-style: outset;
    border-color: var(--text);
    border-image: initial;
    cursor: pointer;
  }

/* iframe dark contents*/
  .is-dark {
    filter: invert(89.5%);
  }

  .is-light {
    filter:none;
  }

