* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}
header {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s;
    min-height: 60px;
}

section {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s;
}

footer {
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s;
}

form {
    background-color: #f0f0f0;
    color: #333;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    transition: background-color 0.3s, color 0.3s;
    max-width: 500px;
}

.dmodebtn {
    float: right;
}

.dark-mode {
    background-color: #181818;
    color: #ffffff;
}

.dark-mode header {
    background-color: #181818;
    color: #ffffff;
}

.dark-mode section {
    background-color: #181818;
    color: #ffffff;
}

.dark-mode footer {
    background-color: #181818;
    color: #ffffff;
}

.dark-mode form {
    background-color: #181818;
    color: #ffffff;
}